{% extends 'layout.html.twig' %}

{% block title %}Registrar Usuario{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="{{ asset('css/portada.css') }}">

{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="portada mt-3">
        <h1>Registrar Usuario</h1>
        <div class="portada_cuerpo">
            <div class="portada_fondo ">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {
                    label: 'Nombre: '
                }) }}
                {{ form_row(registrationForm.nif, {
                    label: 'NIF: '
                }) }}
                {{ form_row(registrationForm.email, {
                    label: 'Email: '
                }) }}
                {{ form_row(registrationForm.Password, {
                    label: 'Contraseña: '
                }) }}
            </div>
            <div class="p-3">
                <button type="submit" class="btn btn-primary">Registrar</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
