{% extends 'layout.html.twig' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ asset('css/portada.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dashpanel.css') }}">
{% endblock %}

{% block title %}Carta{% endblock %}

{% block content %}
    <div class="dpMain">
        <div id="loggeduser" class="dpleft portada_pnlUsuario">
            <div id="userimage" class="portada_pnlUsuario_imagen">
                <figure class=" text-center">
                    <img src="{{ asset('img/logo.png') }}">
                    <figcaption>{{ app.user.username }}</figcaption>
                </figure>
            </div>
            <div id="userdata" class="portada_pnlUsuario_datos">
                <p>Nif: {{ app.user.nif }}</p>
                <p>Email: {{ app.user.email }}</p>
                <p>Rol: {{ app.user.roles | first }}</p>
            </div>
            <div id="controls" class="portada_pnlUsuario_controls">
                <p> Controles:</p>
                <a href="{{ path('app_logout') }}" class="btn btn-warning">Desconectar</a>
            </div>
        </div>
        <div class="dpright portada_pnlCuerpo">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="dpbody portada_pnlCuerpo_seccion">
                    <h2 class="portada_titulo"><i class="fas fa-user-shield"></i> Panel Admin</h2>
                    <div class="portada_pnlCuerpo_botonera">
                        <a href="{{ path('usuarios_listar') }}" class="btn btn-light"> Gestionar Usuarios</a>
                    </div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_GESTOR') %}
                <div class="dpbody portada_pnlCuerpo_seccion">
                    <h2 class="portada_titulo"><i class="fas fa-user-cog"></i> Panel Moderador</h2>
                    <div class="portada_pnlCuerpo_botonera">
                        <a href="{{ path('eventos_gestiona_horarios') }}" class="btn btn-light"> Gestionar Horarios</a>
                        <a href="{{ path('turnos_predefinidos_listar') }}" class="btn btn-light"> Crear Plantilla Horarios</a>
                        <a href="{{ path('eventos_incidencias_mod') }}" class="btn btn-light"> Ver histórico de incidencias</a>
                    </div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_EMPLEADO') %}
                <div class="dpbody portada_pnlCuerpo_seccion">
                    <h2 class="portada_titulo"><i class="fas fa-user"></i> Panel Empleado</h2>
                    <div class="portada_pnlCuerpo_botonera">
                        <a href="{{ path('eventos_gestiona_horario_personal') }}" class="btn btn-light"> Ver Turnos</a>
                        <a href="{{ path('eventos_fichar') }}" class="btn btn-light"> Fichar</a>
                        <button class="btn btn-light"> Ver histórico de fichajes</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
