{% extends 'layout.html.twig' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ asset('css/fichar.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.css">
{% endblock %}

{% block title %}Carta{% endblock %}

{% block content %}
    <div class="fichar_contenedor">
        <div id="divHora" class="fichar_hora"></div>

        <div id="fichar" class="fichar_botones">
            <p> Turno: </p>
            {% if turnos is not empty %}
                <p id="turno"
                   data-hora="{{ turnos[0].horaInicio | format_time(locale='es', pattern="HH:mm") }}" data-id="{{ turnos[0].id }}">{{ turnos[0].horaInicio | format_time(locale='es', pattern="HH:mm") }}
                    ~ {{ turnos[0].horaFin | format_time(locale='es', pattern="HH:mm") }}
                </p>
            {% else %}
                <p>No tienes turnos hoy</p>
            {% endif %}

        </div>
        <div id="divRestante"></div>
        <div id="userdata" class="fichar_datos">
            <p>{{ app.user.username }}</p>
            <p>{{ app.user.nif }}</p>
            <p>{{ app.user.email }}</p>
        </div>

        <button class="btn btn-primary fichar_boton">Fichar</button>
        <button class="btn btn-secondary fichar_boton">Salir</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ asset('js/reloj.js') }}"></script>
{% endblock %}



